<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>NSLocationWhenInUseUsageDescription</key><string>Esta aplicación necesita acceder a tu ubicación para obtener tus coordenadas actuales.</string><key>NSLocationAlwaysAndWhenInUseUsageDescription</key><string>Esta aplicación necesita acceder a tu ubicación para obtener tus coordenadas actuales.</string></dict></plist>
